*
{
    padding:0px;
    margin:0px;
}
.mainContainer
{
    background-color: coral;
    width:auto;
    height:150vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    margin-top:3px;
    margin-bottom:3px;
    
}
.input
{
    height:35px;
    width:50rem;
    border-radius:6px;
    background-color:rgba(247, 237, 237, 0.699);     
}

.case
{
    height:50px;
    width:50rem;
    background-color: honeydew;   
}
.heading
{
    background-color: black;
    color:white;
    width:6rem;
    margin-left:15px;
    margin-top:-9px;
    position:absolute;
    border-radius: 0px;

}



                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  